.wrapper{
  max-width: 1450px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_btn01{
  width: 250px;
  padding: 20px;
  background-color: #ef7995;
  color: #fff;
  text-align: center;
  margin-right: 20px;
}
.head_btn02{
  width: 250px;
  padding: 20px;
  background-color: #3b9446;
  color: #fff;
  text-align: center;
}
.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
}
.menu_btn{
  width: 400px;
  padding: 10px;
  text-align: center;
}
img{
  width: 100%;
}
.address{
  margin-top: 500px;
  margin-bottom: 80px;
  text-align: center;
}
.address h3{
  padding-bottom: 10px;
}
.address p{
  padding-bottom: 10px;
}
.link{
  border-top: gainsboro 1px solid;
  border-bottom: gainsboro 1px solid;
  padding-top: 30px;
  padding-bottom: 80px;
}
.link .link_01{
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: #333;
}
.link .link_02{
  text-align: right;
}
.footer{
  text-align: center;
  margin: 20px 0;
  color: #333;
}
/* ここからお試し */
.Form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.Form-Item {
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
.Form-Item-Label-Required {
  margin-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #ef7995;
  color: #fff;
  font-size: 14px;
}
.Form-Item-Input {
  border: #ddd 1px solid;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  font-size: 18px;
}
.Form-Item-Textarea {
  border: #ddd 1px solid;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 1000px;
  font-size: 18px;
}
.Form-Btn {
  text-align: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #3b9446;
  color: #fff;
  font-weight: bold;
  font-size: 20px
}
.form_top{
  text-align: center;
  padding-bottom: 80px;
  border-bottom: #ddd 1px solid;
  color: #333;
}
.form_top h1{
  margin-bottom: 30px;
}